/* Reset style start*/
* {
    padding: 0;
    margin: 0;
    border: none
}

*,
*::before,
*::after {
    box-sizing: border-box
}

a,
a:link,
a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

aside,
nav,
footer,
header,
section,
main {
    display: block
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none
}

img {
    vertical-align: top
}

img,
svg {
    max-width: 100%;
    height: auto
}

address {
    font-style: normal
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::-ms-clear {
    display: none
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

label {
    cursor: pointer
}

legend {
    display: block
}

/* Reset style end */

/*Glogal style start*/
html,
body {
    font-family: Roboto;
    height: 100%;
    color: #323232;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)))
}

body {
    background-color: #E9F1FA;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 10px;
}

/*Glogal style end*/

/*-------------------------------------------------------------*/

/* header style start */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E9F1FA;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    position: relative;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: flex-end;
}

.header__list a {
    color: rgb(45, 44, 44);
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    padding: 3px;
    border-radius: .5rem;
    transition: 0.75s;
}

.header__list li {
    margin-right: 20px;
}

.header__list li:last-child {
    margin-right: 10px;
}

.header__list .language:hover a,
.header__list .language:active a {
    background-color: #4A8BDF;
    box-shadow: #323232 2px 3px;
    color: #fff;
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }

    .header__body {
        height: 40px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: rgb(45, 44, 44);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: 1.5s;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: rgb(45, 44, 44);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.75s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: 0.75s;
        background-color: #E9F1FA;
        padding: 60px 0 0 0;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
        padding: 0 10px;
    }

    .header__list li {
        margin-bottom: 20px;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }
}

.header__link:hover,
.header__link:active {
    color: #fff;
    background-color: #4A8BDF;
    box-shadow: #323232 2px 3px;
}

/* header style end */

/* Main style start */

.main {
    padding-top: 100px;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    line-height: 25px;
}



.main__about-us {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.about-us__content {
    max-width: 520px;
}

.about-us__photo {
    max-width: 520px;
    min-height: 362.2px;
}

.about-us__photo img {
    max-width: 520px;
    min-height: 362.2px;
}

.about-us__hi {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.about-us__hi span {
    font-style: italic;
    color: #c92121;
}

.main__text {
    padding: 10px 0 0 10px;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
}

.main__why-we {
    margin-top: 30px;
}

.why-we__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: calc(25px + (70 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.why-we__list span {
    font-weight: bold;
}

.why-we__list li {
    padding-top: 3px;
}

.why-we__list li:first-child {
    background: url(../logo/save_money.svg) no-repeat left 0 top 12px;
    padding-left: 35px;
}

.why-we__list li:nth-child(2) {
    background: url(../logo/quality_control.svg) no-repeat left 0 top 12px;
    padding-left: 35px;
}

.why-we__list li:nth-child(3) {
    background: url(../logo/honesty.svg) no-repeat left 0 top 12px;
    padding-left: 35px;
}

.why-we__list li:nth-child(4) {
    background: url(../logo/compound_approach.svg) no-repeat left 0 top 12px;
    padding-left: 35px;
}

.money {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.main__services {
    margin-top: 30px;
}

.main__services-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: calc(25px + (70 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.main__services-list li:first-child {
    background: url(../logo/kazakhstan.svg) no-repeat left 0 top -2px;
    padding: 0px 0 0px 35px;
}

.main__services-list li:nth-child(2) {
    background: url(../logo/EAEC-little.svg) no-repeat left 0 top 3px;
    padding: 0px 0 0px 35px;
    margin-top: 5px;
}

.main__services-list li:nth-child(3) {
    background: url(../logo/certification.svg) no-repeat left 0 top 0px;
    padding: 0px 0 0px 35px;
    margin-top: 5px;
}

.main__services-list li:nth-child(4) {
    background: url(../logo/search.svg) no-repeat left 0 top 0px;
    padding: 0px 0 0px 35px;
    margin-top: 5px;
}

.main__services-list li:nth-child(5) {
    background: url(../logo/consultation.svg) no-repeat left 0 top 0px;
    padding: 2px 0 5px 35px;
    margin-top: 5px;
}

.main__services-list li:nth-child(6) {
    background: url(../logo/speedometer.svg) no-repeat left 0 top 0px;
    padding: 2px 0 5px 35px;
    margin-top: 5px;
}

.main__services-list li:nth-child(7) {
    background: url(../logo/meter.svg) no-repeat left 0 top 0px;
    padding: 2px 0 5px 35px;
    margin-top: 5px;
}

.main__services-list li:nth-child(8) {
    background: url(../logo/speed.svg) no-repeat left 0 top 0px;
    padding: 2px 0 5px 35px;
    margin-top: 5px;
}

.main__prise {
    margin-top: 30px;

}

.main__prise-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: calc(25px + (70 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.main__prise table,
th,
td {
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

.main__prise table {
    width: 100%;
    background-color: #fff5;
    box-shadow: 0 .4rem 0.8rem #0005;
    border-radius: 0.8rem;
    overflow: hidden;
}



.table__body {
    margin: 0 auto;
    overflow: auto;
}

.table__body::-webkit-scrollbar {
    width: .5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #96C2DB;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.table__left {
    text-align: left;
}

table {
    width: 100%;
}

.main__prise-coment {
    margin-top: 30px;
}

.contacts {
    margin: 0 auto;
}

.contacts-title {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-size: calc(25px + (70 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.contacts .contacts-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contacts-img {
    max-width: 100%;
    flex: 1 1 50%;
}

.contacts-row form {
    flex: 1 1 50%;
}

.contacts-row form span {
    text-align: left;
}

.box {
    width: 100%;
    margin: 0.25rem 0rem 1rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: #fff;
}

.btn {
    padding: 15px;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .7);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;

}


input {
    font-family: inherit;
    padding: 2px 5px;
}


.btn {
    font-family: inherit;
    display: block;
    margin: 0 auto;
    background-color: #4A8BDF;
    color: #fff;
    padding: 15px;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .7);
    font-weight: bold;
}

.btn:hover {
    margin-top: 2px;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, .7);
}

.useful {
    padding: 0 0 50px 0;
}

.useful .useful-title {
    text-align: center;
    margin: 50px 0;
    font-size: calc(25px + (70 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.useful-link {
    text-align: justify;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    line-height: 25px;
    color: #323232;
    transition: .5s;
}

.useful-link:hover,
.useful-link:active {
    color: #96C2DB;
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
}


@media (max-width: 1025px) {
    .main__about-us {
        display: flex;
        flex-wrap: nowrap;
    }
}

@media (max-width: 1023px) {
    .main__about-us {
        display: block;
        background-image: url(../img/main__hi.png);
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .about-us__content {
        max-width: 100%;
        background-color: #fff;
        opacity: 0.7;
        padding-right: 5px;
    }

    .about-us__photo {
        display: none;
    }

    .contacts .contacts-row {
        display: block;
    }
}

@media (max-width: 767px) {
    .main {
        padding-top: 50px;
    }

}

/* Main style end */